<?xml version="1.0" ?>
<config>
    <modules>
        <Briteskies_Addcolumns>
            <version>0.0.1</version>
        </Briteskies_Addcolumns>
    </modules>
    <global>
        <blocks>
            <addcolumns>
                <class>Briteskies_Addcolumns_Block</class>
            </addcolumns>
            <adminhtml>
                <rewrite>
                    <catalog_category_tab_product>Briteskies_Addcolumns_Block_Tab_Product</catalog_category_tab_product>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>